<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a New Item</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Add a New Item</h1>
  <form action="/users/<%= user._id %>/foods" method="POST">
    <div>
      <label for="name">New Food:</label>
      <input type="text" name="name" id="name">
    </div>
    <button type="submit">Add Item</button>
  </form>
</body>
</html>